---
---

.site-header {
  height: 350px;
  background-image: url(avocets.jpg);
  background-position: 0px -430px;
  background-position: -0px -460px;
  background-size: cover;
}

a.site-title {
  display: none;
}

pre#plain {
  background-color: #fdfdfd;
  padding: 0;
  border: none;
}

