---
---

.site-header {
  height: 320px;
  background-image: url(avocets.jpg);
  background-position: 0px -1570px;
  //background-size: 100%;
  //width: 100%;
  //background-attachment: local;
  //background-repeat: no-repeat;
  background-size: 1671px;
}

.wrapper {
  height: 220px;
}

.site-title {
  display: none;
}

div.top-links {
  ul.left-links {
    svg {
      width: auto;
      height: auto;
    }
  }
}

pre#plain {
  background-color: #fdfdfd;
  margin-left: 0px;
  padding: 0;
  border: none;
}

