---
---

.site-header {
  height: 320px;
  background-image: url(avocets.jpg);
  background-position: 0px -460px;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  height: 220px;
}

.site-title {
  display: none;
}

div.top-links {
  ul.left-links {
    svg {
      width: auto;
      height: auto;
    }
  }
}

pre#plain {
  background-color: #fdfdfd;
  padding: 0;
  border: none;
}

