<footer class="site-footer">

  <div class="wrapper">

    <!--h2 class="footer-heading">{{ site.title }}</h2-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <!--li>{{ site.title }}</li-->
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
        <iframe
          src="https://embed.spotify.com/?uri=spotify%3Auser%3Aclaylyons%3Aplaylist%3A3NdAJ9aBQNoH9Ml9XqgAHm"
          width="200" height="380" frameborder="0"
          allowtransparency="true"></iframe>
      </div>
    </div>

  </div>

</footer>
