<header class="site-header">
  <div class="background-gradient">
    {% include background_gradient.html %}
  </div>

  <div class="wrapper">
    {% include title.html %}
  </div>

  <div class="top-links">
    <ul class="left-links">
      <li>
        {% include left_arrow.html %}
      </li>
    </ul>

    <ul class="right-links">
      <li>
        {% include twitter.html %}  
      </li>

      <li>
        {% include github.html %}
      </li>

      <li>
          {% include photo_credit.html %}
      </li>
    </ul>
  </div>
</header>

