<header class="site-header">
  <div class="background-gradient">
    {% include background_gradient.html %}
  </div>

  <div class="wrapper">
    {% include title.html %}
  </div>

  <div class="top-links">
    <ul>
      <div class="left-links">
        <li>
          {% include left_arrow.html %}
        </li>
      </div>

      <div class="right-links">
        <li>
          {% include photo_credit.html %}
        </li>

        <li>
          {% include twitter.html %}  
        </li>

        <li>
          {% include github.html %}
        </li>
      </div>
    </ul>
  </div>
</header>

