.site-header {
  height: 320px;
  background-image: url(../public/assets/images/desert.jpg);
  background-position: -0px -610px;
  background-size: 2715px;
  box-shadow: inset 0 -17px 40px -20px black;
  border: none;
}

.background-gradient {
  position: absolute;
  width: 100%;
  height: 320px;
  z-index: 1;
}

div.wrapper {
  min-width: 330px;
}

.site-title {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  font: 800 62px Raleway, helvetica;
  text-decoration: none;
}

div.top-links {
  position: relative;
  width: 100%;
  height: 90px;
  z-index: 3;
  bottom: -60px;
  list-style-type: none;

  ul {
    margin: 0;
    width: auto;
  }

  li {
    vertical-align: top;
    display: inline-block;

    .icon svg {
      width: auto;
      height: 70px;

      path {
        fill: CornSilk;
        opacity: 0.4;
      }

      rect { 
        stroke: CornSilk;
        opacity: 0.6;
      }

      text {
        opacity: 0.3;
      }
    }

    a {
      &:hover {
        text-decoration: none;

        path {
          stroke-width: 0.5px;
          fill: url(../#background);
          opacity: 1;
        }

        rect {
          stroke-width: 0;
          stroke: url(../#background);
          opacity: 1;
        }
      }
    }
  }

  div.left-links {
    li {
      float: left;
      margin-left: 3%;
    }

    svg {
      width: 0;
    }

    svg path {
      fill: url(../#background);
      stroke: FloralWhite;
    }
  }

  div.right-links {
    margin-right: 3%;

    li {
      float: right;
      margin-left: 2%;
    }
  }
}

.body {
  width: 100%;
  z-index: 4;
  background-image: linear-gradient(to bottom, gray 300px, white 40%);
}

body {
  background-color: #E5E5E5;
}

a.post-link {
  font: 400 40px 'Noto Sans', helvetica;

  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }

  &:visited {
    color: inherit;
  }
}

li span.most-meta {
  text-align: center;
}

pre#plain {
  text-align: left;
  background-color: inherit;
  margin-left: 100px;
  margin-right: 100px;
}

.hightlight {
  background-color: white;
}

pre, code {
  background-color: beige;
}

ul.post-list {
  margin-top: 50px;
  text-align: left;
  font: 15px 'Noto Sans', arial;

  .photo {
    height: 250px;
    overflow: hidden;
  }

  img {
    margin-top: -170px;
    width: 100%;
  }

  li {
    background-color: beige;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 1px 0px 8px 1px gray;
    padding: 20px 20px 40px 20px;
  }

  h2 {
    margin-top: 20px;
    margin-left: 30px;
  }

  span {
    margin-right: 30px;
    float: right;
  }

  * {
    color: DarkSlateGray;
  }
}

div.page-content {
  //background: rgba(0, 0, 0, 0.0);
}

.footer-col-3 {
  p {
    font: 20px 'Noto Sans', arial;
  }
}
