.site-header {
  height: 320px;
  background-image: url(../public/assets/images/desert.jpg);
  background-position: -0px -610px;
  background-size: 2715px;
  box-shadow: inset 0 -17px 40px -20px black;
  border: none;
}

.background-gradient {
  position: absolute;
  width: 100%;
  height: 320px;
  z-index: 1;
}

div.wrapper {
  min-width: 330px;
}

.site-title {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  font: 800 62px Raleway, helvetica;
  text-decoration: none;
}

div.top-links {
  position: relative;
  width: 100%;
  height: 90px;
  z-index: 3;
  bottom: -60px;
  list-style-type: none;

  ul {
    margin: 0;
    width: auto;
  }

  li {
    vertical-align: top;
    display: inline-block;

    .icon svg {
      width: auto;
      height: 70px;

      path {
        fill: CornSilk;
        opacity: 0.4;
      }

      rect { 
        stroke: CornSilk;
        opacity: 0.6;
      }

      text {
        opacity: 0.3;
      }
    }

    a {
      &:hover {
        text-decoration: none;

        path {
          stroke-width: 0.5px;
          fill: url(../#background);
          opacity: 1;
        }

        rect {
          stroke-width: 0;
          stroke: url(../#background);
          opacity: 1;
        }
      }
    }
  }

  div.left-links {
    li {
      float: left;
      margin-left: 3%;
    }

    svg {
      width: 0;
    }

    svg path {
      fill: url(../#background);
      stroke: FloralWhite;
    }
  }

  div.right-links {
    margin-right: 3%;

    li {
      float: right;
      margin-left: 2%;
    }
  }
}

a.post-link {
  text-align: center;
  color: inherit;
  font: 400 40px 'Noto Sans', helvetica;

  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }

  &:visited {
    color: inherit;
  }
}

li span.most-meta {
  text-align: center;
}

h2 { 
  color: DarkSlateGray;
  opacity: 0.9;
}

pre#plain {
  text-align: left;
  background-color: #fdfdfd;
  margin-left: 100px;
  margin-right: 100px;
}

ul.post-list {
  font: 15px 'Noto Sans', arial;

  p {
    color: DarkSlateGray;
  }
}

div.page-content {
  //background: rgba(0, 0, 0, 0.0);
  background: CornSilk;
}
