---
---

.site-header {
  height: 320px;
  background-image: url(../images/avocets.jpg);
  background-position: 0px -1570px;
  background-size: 1685px;
}

.site-title {
  width: 0px;
}

div.top-links {
  bottom: -60px;

  div.left-links {
    svg {
      width: auto;
      height: auto;
    }
  }
}

pre#plain {
  background-color: #fdfdfd;
  margin-left: 0px;
  padding: 0;
  border: none;
}

