---
---

.site-header {
  height: 320px;
  background-image: url(../images/avocets.jpg);
  background-position: 0px -1570px;
  background-size: 1685px;
}

.site-title {
  width: 0px;
}

div.top-links {
  bottom: -60px;

  div.left-links {
    svg {
      width: auto;
      height: auto;
    }
  }
}

div.top-links li .icon svg {
  path {
    fill: CornSilk;
    opacity: 0.45;
  }

  rect {
    stroke-opacity: 0.4;
  }

  text {
    opacity: 0.5;
  }

  &:hover path {
    fill: url(#background);
    opacity: 1.0;
    stroke-width: 0.5px;

    @-moz-document url-prefix() {
      fill: black;
      opacity: 0.4;
    }
  }
}

div.left-links li .icon svg path {
  fill: url(#background);
}

pre#plain {
  background-color: #fdfdfd;
  margin-left: 0px;
  padding: 0;
  border: none;
}

